/* custom.css */

:root {
    --primary-color: #007bff; /* Replace with your desired primary color */
    --secondary-color: #6c757d; /* Replace with your desired secondary color */
    --bg-color: #f8f9fa; /* Replace with your desired background color */
    --text-color: #212529; /* Replace with your desired text color */
    --blog-color: #e34949;
  }